* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --greenlight: #46b67b;
    --gray: #525252;
}

body {
    background-color: #333;
    font-family: 'Open Sans', sans-serif;
}

.featured {
    background-color: #f3f3f3;
}

nav, .features, .subcription {
    background: var(--greenlight);
}

.appCapture, .devTestimony {
    background: #fff;
}

.displayFlex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.borderExample {
    border: 1px solid #fff;
}

.container {
    margin: 0 auto;
    width: 75%;
    padding: 1rem;
}

.uppercase {
    text-transform: uppercase;
}

nav {
    width: 100%;
}

footer {
    bottom: 0;
}

@media screen and (max-width: 992px) {
    .container {
        width: 71%;
    }
}

@media screen and (max-width: 720px) {
    .container {
        width: 93%;
    }
}