/* Menu */

nav {
    height: 7.5rem;
    align-items: center;
}

nav .menuNav {
    justify-content: space-between;
}

.itemsNav li {
    list-style: none;
    padding: 1rem;
}

.itemsNav li a {
    padding-bottom: 10px;
    position: relative;
}

.itemsNav li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.itemsNav li a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.itemsNav li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

.menuNav .socialMedia a img {
    height: 24px;
    width: 24px;
    margin: 0 10px;
    transition: .3s;
    filter: opacity(0.8)
}

.menuNav .socialMedia a img svg path {
    fill: #fff;
}

.menuNav .socialMedia a img:hover {
    filter: saturate(100%);
    transform: scale(1.2);
}

/* Primeira Seção - Header */

section.header {
    background: url("../img/header.png ");
    background-size: cover;
    background-attachment: scroll;
    height: 80vh;
}

section.header .container {
    height: 100%;
    align-items: center;
}

.headerContent {
    padding: 0 6rem;
}

.headerContent>div {
    margin: 2rem 10rem 2rem 0;
}

.headerContent div h2, h3 {
    font-size: 2rem;
    letter-spacing: 2px;
}

.btn {
    border: 2px solid var(--gray);
    padding: 1rem 2rem;
    margin-right: 1rem;
}

h2, h3, p, a {
    color: var(--gray);
}

.btnsDownloads .btn a {
    font-weight: 600;
    text-decoration: none;
}

.btnsDownloads img {
    height: 12px;
}

/* Featured */

.featured {
    height: 100px;
}

.featured div {
    height: 100%;
    justify-content: space-between;
}

.featured div a img {
    height: 3rem;
}

.featured div a img {
    filter: contrast(0);
    transition: 300ms;
}

.featured div a img:hover {
    filter: contrast(1);
}

/* Section AppCapture */

.appCapture .container {
    height: 100vh;
    justify-content: center;
    padding: 4rem 0;
}

.appCapture .container div {
    width: 50%;
}

.appCapture .container .imgMobile {
    display: flex;
    justify-content: center;
}

/* Features */

.features .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 6rem 0;
}

.features .container .itemsFeatures {
    text-align: center;
    padding: 0 1rem;
}

.features .container .itemsFeatures h6 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 2rem 0;
}

.features .container .itemsFeatures p {
    color: #fff;
    font-weight: 300;
    font-size: .9rem;
}

/* devTestimony */

.devTestimony {
    height: 50vh;
}

.devTestimony .container {
    height: 100%;
    flex-direction: column;
    padding: 0 8rem;
    line-height: 2rem;
    text-align: center;
}

.devTestimony .container .nameDev {
    flex-direction: column;
    margin-top: 3rem;
    line-height: 120%;
    color: var(--gray);
}

.devTestimony .container .nameDev h6 {
    font-size: .8rem;
}

.devTestimony .container .nameDev p {
    font-size: .8rem;
}

/* Subcription */

.subcription {
    height: 40vh;
}

.subcription .container {
    height: 100%;
    flex-direction: column;
}

.subcription h6 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #fff;
    font-weight: 300;
}
.subcription h6 span{
    text-transform: lowercase;
}

form input {
    background-color: #fff;
    border: none;
    padding: 1rem;
    width: 320px;
    z-index: -1;
    /* position: relative; */
}
form .inInput {
    padding: 1rem;
    background-image: url('../img/envelope.png ');
    background-repeat: no-repeat;
    background-position: 93% center;
}
form .inInput::placeholder  {
    color: var(--greenlight)
}

/* Footer */

footer {
    height: 40vh;
    background: #464444;
}

footer .footer {
    height: 100%;
    width: fit-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .footer .platform {
    width: 100%;
    justify-content: space-between;
    padding: 3rem 1rem;
}

footer .footer .platform a img {
    height: 34px;
    width: 34px;
}

footer .footer .copyright {
    color: #6d6a6a;
    font-size: .7rem;
}