/* Menu */

nav {
    height: 7.5rem;
    align-items: center;
}

nav .menuNav {
    align-items: center;
    justify-content: space-between;
}

.itemsNav li {
    list-style: none;
    padding: 1rem;
}

.itemsNav li a {
    padding-bottom: 10px;
    position: relative;
}

.itemsNav li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.itemsNav li a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.itemsNav li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

.menuNav .socialMedia a img {
    height: 24px;
    width: 24px;
    margin: 0 10px;
    transition: .3s;
    filter: opacity(0.8)
}

.menuNav .socialMedia a img svg path {
    fill: #fff;
}

.menuNav .socialMedia a img:hover {
    filter: saturate(100%);
    transform: scale(1.2);
}

/* Primeira Seção - Header */

section.header {
    background: url("../img/header.png ");
    background-size: cover;
    background-attachment: scroll;
    height: 80vh;
}

section.header .container {
    height: 100%;
    align-items: center;
}

.headerContent {
    padding: 0 6rem;
}

.headerContent>div {
    margin: 2rem 10rem 2rem 0;
}
.headerContent div h2, h3 {
    font-size: 2rem;
    letter-spacing: 2px;
}

.btn {
    border: 2px solid var(--gray);
    padding: 1rem 2rem;
    margin-right: 1rem;
}

.headerContent h2, .headerContent p, .btnsDownloads a {
    color: var(--gray);
}

.btnsDownloads .btn a {
    font-weight: 600;
    text-decoration: none;
}

.btnsDownloads img {
    height: 12px;
}

/* Featured-+ */

.featured {
    height: 100px;
}

.featured div {
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.featured div a img {
    height: 3rem;
}

/* Footer */

footer {
    height: 40vh;
    background: #464444;
}

footer .footer {
    height: 100%;
    width: fit-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .footer .platform {
    width: 100%;
    justify-content: space-between;
    padding: 3rem 1rem;
}

footer .footer .platform a img {
    height: 50px;
    width: 50px;
}

footer .footer .copyright {
    color: #6d6a6a;
}